@page "/"
@model Spurious2.Pages.SpaModel
@addTagHelper *, NetEscapades.AspNetCore.SecurityHeaders.TagHelpers
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Production">
        @foreach (var file in Directory.EnumerateFiles("wwwroot/client/assets", "*.css"))
        {
            <link asp-add-nonce rel="stylesheet" href=@file.Substring(7) />
        }
    </environment>
</head>


<body>
    <div id="root"></div>
    <environment include="Development">
        <script type="module">
            import RefreshRuntime from 'http:localhost:5000/client/@@react-refresh'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>
        <script type="module" src="http://localhost:5000/client/src/main.tsx"></script>
    </environment>
    <environment include="Production">
        @foreach (var file in Directory.EnumerateFiles("wwwroot/client/assets", "*.js"))
        {
            <script type="module" src=@file.Substring(7) asp-add-nonce defer></script>
        }
    </environment>
</body>
</html>
