body {
}

.form-check.form-control {
    padding-left: 1.75rem;
    height: auto;
}

.navbar {
    border-radius: 0;
    background: #E82887;
}

h1 {
    margin: 15px 0;
}

.customInfobox {
    max-width: 500px;
    padding: 10px;
    font-size: 12px;
}

    .customInfobox .name {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
